Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
*.ini
*.bak
*.bak.*
*.orig
*.tmp
*.vcxproj
*.vcxproj.filters
*.user
*.user.props
*.uproject.backup
.DS_Store
.generated/
.idea/
